* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: rgb(73, 70, 221);
    width: 100%;
    display: flex;
    position: relative;
}

.head {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    
}

h1 {
    font-size: 50px;
    color: white;
}

.btn-cart {
    padding: 5px 10px;
}

.products {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.constact_us {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form button {
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin: 0 auto;
}


.product-item {
    margin: 5px;
    width: 400px;
    border: 1px solid black;
    padding: 30px;
}


.cart {
    width: 20vw;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px;
    position: absolute;
    top: 65%;
    left: 65%;
}

.cart-item {
    display: flex;
    align-items: center;
}

.cartData {
    margin-left: 5px;
}

#cartPrice {
    display: block;
    margin-top: 15px;
}

.red {
    border: 2px solid red;
}

.head_content {
    display: flex;
}

.find_content {
    margin-right: 20px;  
}