<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="head">
                <h1>Shop</h1>
                <div class="head_content">
                    <div class="find_content">
                        <input type="text" v-model='searchLine'  @input='filterGoods()'>
                    </div>
                    <div class="cart_content">
                        <button class="btn-cart" type="button" @click='isVisibleCart = !isVisibleCart'>Корзина</button>
                        <div class="cart" v-if='isVisibleCart'>
                            <p v-if='!cartGoods.length'>Пусто</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div v-for="product of showedProducts" :key='product.id_product' class="product-item">
                    <img src="https://picsum.photos/300/200" alt="some img">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}</p>
                    <button class="buy-btn" :id="product.id_product">Купить</button>
                </div>
            </div>
            <div class="constact_us">
            </div>
        </main>
    </div>
    

    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>
</html>